.select-category-component-container {
  width: 25%;
  height: 100%;
  cursor: pointer;
}

.category-image-friend {
  background-image: url("../../assets/img/friend01.png");
  background-size: cover;
  border-radius: 100%;
  width: 68%;
  aspect-ratio: 1 / 1;
  /* height: 60%라고 하면 width와 길이가 같아지는 것이 아니다. */
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.category-image-family {
  background-image: url("../../assets/img/family01.png");
  background-size: cover;
  border-radius: 100%;
  width: 68%;
  aspect-ratio: 1 / 1;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.category-image-lover {
  background-image: url("../../assets/img/lover01.png");
  background-size: cover;
  border-radius: 100%;
  width: 68%;
  aspect-ratio: 1 / 1;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.category-image-pet {
  background-image: url("../../assets/img/pet01.png");
  background-size: cover;
  border-radius: 100%;
  width: 68%;
  aspect-ratio: 1 / 1;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.select-category-component-container span {
  font-size: 3vw;
  color: #888888;
  text-align: center;
  font-family: "pretendard-regular";
}

.select-effect {
  border: 0.7vw solid #C3C7F4;
}
